@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
  }
  

.app_buySellBody {
    content: 275px 354px;
    padding: 24px 24px;
    top : 95px;
    width: 275.3px;
    background-color: #ffffff;
    font-size: 13px;
    font-family: 'system';
    line-height: 19px;
    text-align: start;
    letter-spacing: 0.25px;
    fill : #171718;
    border-radius: 2px;
    position: fixed;
    -webkit-box-align: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.01) 0px 0px 4px 1px, rgba(48, 51, 51, 0.09) 0px 3px 24px 0px;
}

.app_buySellTitle {
   content: 227px 47px;
   height: 100%;    
   padding-top: 12px;
   margin-right: 12px;
   display: block;
   transition: border-color 250ms, color 250ms;
  
   
}